[Desktop Entry]
Type=Application
Name=GitMo
Comment=Sync GitMo folders with GitHub
Exec=gitmo
Icon=gitmo
Terminal=false
Categories=Development;RevisionControl;
Keywords=Git;GitHub;Sync;Repository;Version Control;
StartupNotify=true
